:root {
  --primary: #006ba8;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* order.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form input:focus,
form textarea:focus {
  border-color: var(--primary);
  outline: none;
}

form textarea {
  resize: none;
  height: 80px;
}

form button {
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

form button:hover {
  background-color: #174b6d;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }
}
